* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

.container {
    width: 100%;
    margin: auto;

}

.header {
    position: relative;
}

#myImage {
    position: relative;
    width: 100%;
    height: 650px;
    object-fit: cover;
    filter: brightness(55%);
}

#myImage img {
    width: 100%;
    height: 100%;
}

.header-body-section {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
}

.nav {
    font-weight: 650;
    background-color: white;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    padding: 0px 3px;
    margin: 5px;
    font-size: 18px;
    font-weight: 300;
    color: black;
    font-family: serif;
}

.nav ul li a {
    color: inherit;
    text-decoration: none;
}

.Statement {
    position: absolute;
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-header-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    flex-direction: column;
}

.search-container {
    /* background-color: white;
    width: 100%; */
    margin-top: 180px;
    font-size: 40px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 150px;
}

.rolling-plate-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 130px;
}

.unit-franchise-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 150px;
    color: rgb(186, 132, 37);
    font-size: 40px;
}

.super-franchise-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 230px;
    color: rgb(186, 132, 37);
    font-size: 40px;
}

.super-franchise-image {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: -20px;
    /* margin-bottom: 350px; */

}

.process {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 200px;
    color: black;
    font-size: 40px;
    text-decoration: none;

    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.rolling-plate-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 300px;
}

.google-video-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 300px;
}

.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 30px;
    color: rgba(102, 105, 101, 0.749);
    font-size: 60px;
    font-family: serif;
}

.brands-image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 160px;
}

.brands-image1 img {
    margin-right: 60px;
    margin-left: 60px
}

.brands-image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 200px;
}

.brands-image2 img {
    margin-right: 60px;
    margin-left: 60px
}

.brands-image3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 200px;
}

.brands-image3 img {
    margin-right: 50px;
    margin-left: 71px
}

.brands-image4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 200px;
}

.brands-image4 img {
    margin-right: 60px;
    margin-left: 71px
}

.brands-image5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 200px;
}

.brands-image5 img {
    margin-right: 100px;
    margin-left: 71px
}

.brands-image6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 200px;
    margin-bottom: 150px;
}

.brands-image6 img {
    margin-right: 80px;
    margin-left: 71px
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}

.footer h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 15px;
    line-height: 1.5;
    color: #fff !important;
    margin: 0 !important;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
}

.logoContainer img {
    width: 123px;
    height: 30px;
    margin: 10px 20px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons i {
    margin-right: 10px;
}

.nav-links {
    margin-right: 20px;
}

/* CSS for screens with width less than 600 pixels */
@media (max-width: 600px) {
    /* CSS rules for smaller screens */
}

/* CSS for screens with width between 601 and 1024 pixels */
@media (min-width: 601px) and (max-width: 1024px) {
    /* CSS rules for medium-sized screens */
}

/* CSS for screens with width greater than 1024 pixels */
@media (min-width: 1025px) {
    /* CSS rules for larger screens */
}